<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}EMS{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <header class="topbar">
    <div class="container">
      {% if session.get('user_id') %}
        <a href="/dashboard">EMS</a>
      {% else %}
        <a href="{{ url_for('auth.login') }}">EMS</a>
      {% endif %}
      
      {% if session.get('user_id') %}
        <span class="right"><a href="{{ url_for('auth.logout') }}">Log out</a></span>
      {% endif %}
    </div>
  </header>

  <main>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <div class="flash-container">
          {% for cat, msg in messages %}
            <div class="flash {{cat}}">{{ msg }}</div>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </main>
</body>
</html>
