{% extends "base.html" %}
{% block title %}Sign Up{% endblock %}
{% block content %}
<div class="center-card">
  <div class="card dark">
    <h2>Sign Up</h2>
    <form method="post">
      <label>Full Name</label>
      <input type="text" name="name" required>
      <label>Email</label>
      <input type="email" name="email" required>
      <label>Password</label>
      <input type="password" name="password" required>
      <label>Re Enter Password</label>
      <input type="password" name="password2" required>
      <button class="btn primary" type="submit">Create account</button>
    </form>
    <p class="muted">Having an Account? <a href="{{ url_for('auth.login') }}">Sign in</a></p>
  </div>
</div>
{% endblock %}
